.order-item-container {
  display: flex;
  align-items: center;
  padding-left: 30px;
  justify-content: space-between;
  padding-right: 30px;
  margin-bottom: 20px;
}
.order-item-img-container {
  display: flex;
  align-items: center;
  width: 30%;
}
.order-item-image {
  height: 100px;
  width: 100px;
  margin-right: 10px;
}
.order-item-name {
  font-family: 'DM Sans';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  color: #183b56;
}

.order-item-desktop-buttons-container {
  display: flex;
  align-items: center;
  width: 30%;
  justify-content: center;
}
.mobile-name-buttons-price-section {
  display: none;
}

.order-item-button {
  cursor: pointer;
  outline: none;
  background-color: transparent;
  color: #475569;
  height: 20px;
  width: 20px;
  border-radius: 6px;
  padding-left: 6px;
  padding-right: 12px;
  box-sizing: border-box;
}
.order-item-quantity {
  font-family: 'DM Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: #475569;
  width: 30%;
}
.order-item-price {
  font-family: 'DM Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  color: #ffa412;
  width: 30%;
  text-align: right;
}

@media screen and (max-width: 600px) {
  .order-item-image {
    height: 80px;
    width: 80px;
  }
  .order-item-container {
    margin-bottom: 6px;
  }
  .order-item-img-container {
    padding-right: 10px;
  }
  .desktop-heading {
    display: none;
  }
  .mobile-heading {
    display: flex;
    font-size: 16px;
    padding-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
  }
  .order-item-desktop-buttons-container {
    display: none;
  }
  .order-item-mobile-buttons-container {
    display: flex;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 6px;
  }
  .order-item-mobile-button {
    cursor: pointer;
    outline: none;
    background-color: transparent;
    color: #475569;
    height: 20px;
    width: 20px;
    border-radius: 6px;
    padding-left: 6px;
    padding-right: 12px;
    margin-left: 6px;
    margin-right: 6px;
    box-sizing: border-box;
  }
  .order-item-price {
    display: none;
  }
  .order-item-mobile-price {
    display: flex;
    font-size: 16px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    color: #ffa412;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 0px;
  }
  .mobile-name-buttons-price-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
  }
  .order-item-mobile-quantity {
    margin: 0px;
  }
}
