.cart-bg-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}
.no-orders-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.no-orders-image {
  height: 400px;
}
.no-orders-heading {
  font-family: 'DM Sans';
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0px;
  text-align: center;
  color: #1e293b;
}
.no-orders-description {
  font-family: 'DM Sans';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: #64748b;
}
.order-now-button {
  font-family: 'DM Sans';
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  border: 0px;
  outline: none;
  cursor: pointer;
  border-radius: 6px;
  height: 30px;
  width: 100px;
  text-align: center;
  background-color: #f7931e;
}

.paynow-button {
  background-color: #f7931e;
  color: #ffffff;
  height: 40px;
  width: 140px;
  outline: none;
  cursor: pointer;
  border: 0px;
  border-radius: 8px;
  margin-top: 50px;
}

@media screen and (max-width: 600px) {
  .no-orders-image {
    margin-top: 50px;
    height: 200px;
    width: 200px;
  }
}
