.restaurant-details-bg-container {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.restaurant-info-bg-container {
  background-image: url('https://res.cloudinary.com/db4grxgst/image/upload/v1626024652/Rectangle_1399_cldfys.png');
  height: 200px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.restaurant-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.restaurant-image {
  height: 150px;
  width: 150px;
}

.restaurant-info-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  flex-shrink: 1;
}
.restaurant-name {
  padding-bottom: 0px;
  font-family: 'Roboto';
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
}
.restaurant-cuisine {
  font-family: 'Roboto';
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
}

.restaurant-location {
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
}
.ratings-price-container {
  display: flex;
  margin-top: 20px;
  margin-bottom: 0px;
  align-items: center;
}

.ratings-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rating {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'DM Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  color: #ffffff;
}
.reviews-count {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'DM Sans';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
}

.price-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  padding-left: 20px;
  border-left: 2px solid #ffffff;
}

.cost-price {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'DM Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  color: #ffffff;
}

.cost-for-two {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'DM Sans';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
}

.food-items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 30px;
}
