.not-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.home-page-button {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  border: 0px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  background-color: #f7931e;
  height: 30px;
  width: 100px;
}

@media screen and (max-width: 600px) {
  .not-found-container {
    width: 100%;
  }
  .not-found-image {
    height: 200px;
    width: 200px;
  }
  .not-found-description {
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
  }
}
