.login-form-container {
  display: flex;
  height: 100vh;
}
.form-container {
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-card {
  padding-top: 40px;
  padding-bottom: 30px;
  display: flex;
  height: 60%;
  width: 60%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tasty-kitchens-logo {
  height: 50px;
  width: 50px;
}

.tasty-kitchens-heading {
  font-family: 'DM Sans';
  font-size: 24px;
  font-style: italic;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
}

.text-sign-in {
  font-family: 'DM Sans';
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: center;
}

.form-input-container {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.form-label {
  font-family: 'DM Sans';
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.01em;
  text-align: left;
}

.form-input {
  font-family: 'DM Sans';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  background: #e2e8f0;
  border-radius: 2px;
  height: 28px;
  border: 0px;
  outline: none;
  padding-left: 10px;
  margin-bottom: 20px;
}

.form-sign-in-button {
  width: 80%;
  background: #f7931e;
  border-radius: 8px;
  outline: none;
  height: 30px;
  color: #ffffff;
  border: 0px;
}

.form-image {
  height: 100vh;
  width: 50vw;
}

.error-message {
  align-self: start;
  font-size: 12px;
  margin-left: 50px;
  margin-top: 0px;
  margin-bottom: 10px;
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 16px;
  color: #ff0b37;
}
