.navbar-header {
  display: flex;
  justify-content: center;
  background-color: #f8fafc;
  border-bottom: 1px solid rgb(243, 243, 243);
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.website-logo {
  width: 110px;
}
.website-name {
  font-family: 'DM Sans';
  font-size: 24px;
  font-style: italic;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  color: #f7931e;
  margin-left: 10px;
}

.nav-menu {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  margin-right: 20px;
}
.nav-link {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 26px;
  text-decoration: none;
  margin-left: 20px;
}

.logout-desktop-button {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  border: 0px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  background-color: #f7931e;
  height: 30px;
  width: 100px;
}

.menu-button-container {
  display: flex;
  align-items: center;
}

.logo-name-container {
  display: flex;
  align-items: center;
}
